*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #120907;
    font-family: 'Source Sans Pro', sans-serif;

    /* background-color: white; */
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    background-color: #120907;
    /* background-color:#2b2744; */
    height: 80px;
    
}


header a,header li,header ul{
    background-color:#2b2744;
    background-color: #120907;
    font-size: 20px;
}


.main_name{
    margin-right: auto;
    transition: all 0.3s ease 0s;
    
    
}

.main_name:hover{
    margin-right: auto;
    color:#0088a9;

}

li,a,button{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    /* font-family:; */

}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_items{
    transition: all 0.3s ease 0s;

}

.nav_items:hover{
    color: #0088a9;    
}

.contact_button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 50px;
    margin-left: 50px;

}

.contact_button:hover{
    background-color: rgba(0,136,169,0.8);


}

.about{
    margin-top: 50px;
    margin-bottom: 50px;

}

.about h2{
    text-align: center;
    color: white;
}

.about h2 b{
    color: #0084cc;
   
}

.about span{
    color: #e3c13a;
}

.about p{
    color: white;
    font-size: 17px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    /* margin-left: 290px; */
}

.projects h2{
    color: #e3c13a;
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    margin-top: 100px;
}

.project_a{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 5px solid #e3c13a;
    border-radius: 20px;
    width: 50%;
    align-items: center;
    height: 400px;
    margin: auto;
    background-color: grey;;
    padding: 20px;

}

.project_a img{
    width: 50%;
    max-width: 100%;
    height:100%;
    border :solid #e3c13a #213754
}

.project_info a{
    margin-bottom: 50px;
    background-color: grey;;
    font-size: 50px;

}

.project_info{
    color: white;
    background-color: grey;;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project_desc{
    background-color: grey;;
    font-size: 18px;
}

.project_a.b{
    margin-top: 200px;
}

footer p {
    color: white;

}


.socials{
    display: flex;
    justify-content: center;
    font-size: 20p;
    text-align: center;
}

.fa {
    padding: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border:0.4px grey solid;
    margin: 5px 10px;
    border-radius: 100px;
    color: white;

  }

.fa:hover{
    color: #e3c13a;
}
  


  