*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #101820;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;

    /* background-color: white; */
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    /* background-color: #120907; */
    background-color:#101820;
    height: 80px;
    
}


header a,header li,header ul{
    background-color:#2b2744;
    background-color: #101820;
    font-size: 20px;
}


.main_name{
    margin-right: auto;
    transition: all 0.3s ease 0s;
    
    
}

.main_name:hover{
    margin-right: auto;
    color:#0088a9;

}

li,a,button{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    /* font-family:; */

}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_items{
    transition: all 0.3s ease 0s;

}

.nav_items:hover{
    color: #0088a9;    
}

.contact_button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 50px;
    margin-left: 50px;

}

.contact_button:hover{
    background-color: rgba(0,136,169,0.8);


}

.about{
    margin-top: 50px;
    margin-bottom: 50px;

}

.about h2{
    text-align: center;
    color: white;
}

.about h2 b a{
    color: rgba(0,136,169,1);
    font-size: 25px;
   
}

.about span{
    color: #FEE715;
}

.about p{
    color: white;
    font-size: 19px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    /* margin-left: 290px; */
}

.projects h2{
    color: #FEE715;
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    margin-top: 100px;
}

.project_a{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #FEE715;
    border-radius: 20px;
    width: 50%;
    align-items: center;
    height: 400px;
    margin: auto;
    background-color: #4f5975;;
    padding: 20px;

}

.project_a img{
    width: 50%;
    max-width: 100%;
    height:100%;
    border :solid #FEE715 #213754
}

.project_info a{
    margin-bottom: 50px;
    background-color: #4f5975;;
    font-size: 50px;

}

.project_info{
    color: white;
    background-color: #4f5975;;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project_desc{
    background-color: #4f5975;;
    font-size: 18px;
}

.project_a.b{
    margin-top: 200px;
}

.resume h2{
    color: #FEE715;
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    margin-top: 100px;
}


footer p {
    color: white;
    text-align: center;
    margin-top: 100px;

}

.socials{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}

.fa {
    padding: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border:0.4px grey solid;
    margin: 5px 10px;
    height: auto;
    border-radius: 100%;
    color: white;

  }

.fa:hover{
    color: #FEE715;
}
  

.resume_title h3{
    text-align: center;
    color: #FEE715;
    font-size: 35px;
}

.resume_title.experience{
    margin-top: 40px;
}

.resume_title.activities{
     margin-top: 40px;
}


hr{
    width: 80%;
    margin: auto;
    height: 5px;
    background: white;
    margin-top: 10px;
}
.header, .header_date span{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;

}

.header_date{
    display: flex;
    justify-content: space-between;

}

.points{
    width: 80%;
    margin: auto;
}

.points ul  {
    margin-top: 20px;
}

.points li{
    list-style:circle;
    margin-left: 15px;
    margin-top: 5px;
}


.skills{
    text-align: center;
}

.skills h2{
    color: #FEE715;
    font-size: 50px;
    margin-top: 100px;
}

.parent {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    justify-content: center ;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 2 / 1 / 3 / 2; }
    .div6 { grid-area: 2 / 2 / 3 / 3; }
    .div7 { grid-area: 2 / 3 / 3 / 4; }
    .div8 { grid-area: 2 / 4 / 3 / 5; }
    .div9 { grid-area: 3 / 1 / 4 / 2; }
    .div10 { grid-area: 3 / 2 / 4 / 3; }
    .div11 { grid-area: 3 / 3 / 4 / 4; }
    .div12 { grid-area: 3 / 4 / 4 / 5; }
   
   .box{
    background-color: pink;
    text-align: center;
    margin: auto;
    padding: 0 20px;
   }